{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://bigquerydatatransfer.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
        "title": "BigQuery Data Transfer",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://bigquerydatatransfer.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "bigquerydatatransfer"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/bigquery/"
    },
    "tags": [
        {
            "name": "projects"
        }
    ],
    "paths": {
        "/v1/{name}": {
            "delete": {
                "description": "Deletes the specified transfer run.",
                "operationId": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                "parameters": [
                    {
                        "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "get": {
                "description": "Returns information about the particular transfer run.",
                "operationId": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                "parameters": [
                    {
                        "description": "The field will contain name of the resource requested, for example:\n`projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}`",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a data transfer run.",
                                    "properties": {
                                        "dataSourceId": {
                                            "description": "Output only. Data source id.",
                                            "type": "string"
                                        },
                                        "destinationDatasetId": {
                                            "description": "Output only. The BigQuery target dataset id.",
                                            "type": "string"
                                        },
                                        "endTime": {
                                            "description": "Output only. Time when transfer run ended.\nParameter ignored by server for input requests.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "errorStatus": {
                                            "description": "Status of the transfer run.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The resource name of the transfer run.\nTransfer run names have the form\n`projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`.\nThe name is ignored when creating a transfer run.",
                                            "type": "string"
                                        },
                                        "params": {
                                            "additionalProperties": {
                                                "description": "Properties of the object."
                                            },
                                            "description": "Output only. Data transfer specific parameters.",
                                            "type": "object"
                                        },
                                        "runTime": {
                                            "description": "For batch transfer runs, specifies the date and time that\ndata should be ingested.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "schedule": {
                                            "description": "Output only. Describes the schedule of this transfer run if it was\ncreated as part of a regular schedule. For batch transfer runs that are\nscheduled manually, this is empty.\nNOTE: the system might choose to delay the schedule depending on the\ncurrent load, so `schedule_time` doesn't always match this.",
                                            "type": "string"
                                        },
                                        "scheduleTime": {
                                            "description": "Minimum time after which a transfer run can be started.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "description": "Output only. Time when transfer run was started.\nParameter ignored by server for input requests.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "state": {
                                            "description": "Data transfer run state. Ignored for input requests.",
                                            "enum": [
                                                "TRANSFER_STATE_UNSPECIFIED",
                                                "PENDING",
                                                "RUNNING",
                                                "SUCCEEDED",
                                                "FAILED",
                                                "CANCELLED"
                                            ],
                                            "type": "string"
                                        },
                                        "updateTime": {
                                            "description": "Output only. Last time the data transfer run state was updated.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "userId": {
                                            "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
                                            "format": "int64",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates a data transfer configuration.\nAll fields must be set, even if they are not updated.",
                "operationId": "bigquerydatatransfer.projects.transferConfigs.patch",
                "parameters": [
                    {
                        "description": "Optional OAuth2 authorization code to use with this transfer configuration.\nIf it is provided, the transfer configuration will be associated with the\nauthorizing user.\nIn order to obtain authorization_code, please make a\nrequest to\nhttps://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=<datatransferapiclientid>&scope=<data_source_scopes>&redirect_uri=<redirect_uri>\n\n* client_id should be OAuth client_id of BigQuery DTS API for the given\n  data source returned by ListDataSources method.\n* data_source_scopes are the scopes returned by ListDataSources method.\n* redirect_uri is an optional parameter. If not specified, then\n  authorization code is posted to the opener of authorization flow window.\n  Otherwise it will be sent to the redirect uri. A special value of\n  urn:ietf:wg:oauth:2.0:oob means that authorization code should be\n  returned in the title bar of the browser, with the page text prompting\n  the user to copy the code and paste it in the application.",
                        "in": "query",
                        "name": "authorizationCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource name of the transfer config.\nTransfer config names have the form of\n`projects/{project_id}/locations/{region}/transferConfigs/{config_id}`.\nThe name is automatically generated based on the config_id specified in\nCreateTransferConfigRequest along with project_id and region. If config_id\nis not provided, usually a uuid, even though it is not guaranteed or\nrequired, will be generated for config_id.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required list of fields to be updated in this request.",
                        "in": "query",
                        "name": "updateMask",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Optional version info. If users want to find a very recent access token,\nthat is, immediately after approving access, users have to set the\nversion_info claim in the token request. To obtain the version_info, users\nmust use the “none+gsession” response type. which be return a\nversion_info back in the authorization response which be be put in a JWT\nclaim in the token request.",
                        "in": "query",
                        "name": "versionInfo",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a data transfer configuration. A transfer configuration\ncontains all metadata needed to perform a data transfer. For example,\n`destination_dataset_id` specifies where data should be stored.\nWhen a new transfer configuration is created, the specified\n`destination_dataset_id` is created when needed and shared with the\nappropriate data source service account.",
                                    "properties": {
                                        "dataRefreshWindowDays": {
                                            "description": "The number of days to look back to automatically refresh the data.\nFor example, if `data_refresh_window_days = 10`, then every day\nBigQuery reingests data for [today-10, today-1], rather than ingesting data\nfor just [today-1].\nOnly valid if the data source supports the feature. Set the value to  0\nto use the default value.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "dataSourceId": {
                                            "description": "Data source id. Cannot be changed once data transfer is created.",
                                            "type": "string"
                                        },
                                        "datasetRegion": {
                                            "description": "Output only. Region in which BigQuery dataset is located.",
                                            "type": "string"
                                        },
                                        "destinationDatasetId": {
                                            "description": "The BigQuery target dataset id.",
                                            "type": "string"
                                        },
                                        "disabled": {
                                            "description": "Is this config disabled. When set to true, no runs are scheduled\nfor a given transfer.",
                                            "type": "boolean"
                                        },
                                        "displayName": {
                                            "description": "User specified display name for the data transfer.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The resource name of the transfer config.\nTransfer config names have the form of\n`projects/{project_id}/locations/{region}/transferConfigs/{config_id}`.\nThe name is automatically generated based on the config_id specified in\nCreateTransferConfigRequest along with project_id and region. If config_id\nis not provided, usually a uuid, even though it is not guaranteed or\nrequired, will be generated for config_id.",
                                            "type": "string"
                                        },
                                        "nextRunTime": {
                                            "description": "Output only. Next time when data transfer will run.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "params": {
                                            "additionalProperties": {
                                                "description": "Properties of the object."
                                            },
                                            "description": "Data transfer specific parameters.",
                                            "type": "object"
                                        },
                                        "schedule": {
                                            "description": "Data transfer schedule.\nIf the data source does not support a custom schedule, this should be\nempty. If it is empty, the default value for the data source will be\nused.\nThe specified times are in UTC.\nExamples of valid format:\n`1st,3rd monday of month 15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.\nSee more explanation about the format here:\nhttps://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format\nNOTE: the granularity should be at least 8 hours, or less frequent.",
                                            "type": "string"
                                        },
                                        "scheduleOptions": {
                                            "description": "Options customizing the data transfer schedule.",
                                            "properties": {
                                                "disableAutoScheduling": {
                                                    "description": "If true, automatic scheduling of data transfer runs for this configuration\nwill be disabled. The runs can be started on ad-hoc basis using\nStartManualTransferRuns API. When automatic scheduling is disabled, the\nTransferConfig.schedule field will be ignored.",
                                                    "type": "boolean"
                                                },
                                                "endTime": {
                                                    "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be\nscheduled at or after the end time. The end time can be changed at any\nmoment. The time when a data transfer can be trigerred manually is not\nlimited by this option.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "description": "Specifies time to start scheduling transfer runs. The first run will be\nscheduled at or after the start time according to a recurrence pattern\ndefined in the schedule string. The start time can be changed at any\nmoment. The time when a data transfer can be trigerred manually is not\nlimited by this option.",
                                                    "format": "google-datetime",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "state": {
                                            "description": "Output only. State of the most recently updated transfer run.",
                                            "enum": [
                                                "TRANSFER_STATE_UNSPECIFIED",
                                                "PENDING",
                                                "RUNNING",
                                                "SUCCEEDED",
                                                "FAILED",
                                                "CANCELLED"
                                            ],
                                            "type": "string"
                                        },
                                        "updateTime": {
                                            "description": "Output only. Data transfer modification time. Ignored by server on input.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "userId": {
                                            "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
                                            "format": "int64",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "Represents a data transfer configuration. A transfer configuration\ncontains all metadata needed to perform a data transfer. For example,\n`destination_dataset_id` specifies where data should be stored.\nWhen a new transfer configuration is created, the specified\n`destination_dataset_id` is created when needed and shared with the\nappropriate data source service account.",
                                "properties": {
                                    "dataRefreshWindowDays": {
                                        "description": "The number of days to look back to automatically refresh the data.\nFor example, if `data_refresh_window_days = 10`, then every day\nBigQuery reingests data for [today-10, today-1], rather than ingesting data\nfor just [today-1].\nOnly valid if the data source supports the feature. Set the value to  0\nto use the default value.",
                                        "format": "int32",
                                        "type": "integer"
                                    },
                                    "dataSourceId": {
                                        "description": "Data source id. Cannot be changed once data transfer is created.",
                                        "type": "string"
                                    },
                                    "datasetRegion": {
                                        "description": "Output only. Region in which BigQuery dataset is located.",
                                        "type": "string"
                                    },
                                    "destinationDatasetId": {
                                        "description": "The BigQuery target dataset id.",
                                        "type": "string"
                                    },
                                    "disabled": {
                                        "description": "Is this config disabled. When set to true, no runs are scheduled\nfor a given transfer.",
                                        "type": "boolean"
                                    },
                                    "displayName": {
                                        "description": "User specified display name for the data transfer.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The resource name of the transfer config.\nTransfer config names have the form of\n`projects/{project_id}/locations/{region}/transferConfigs/{config_id}`.\nThe name is automatically generated based on the config_id specified in\nCreateTransferConfigRequest along with project_id and region. If config_id\nis not provided, usually a uuid, even though it is not guaranteed or\nrequired, will be generated for config_id.",
                                        "type": "string"
                                    },
                                    "nextRunTime": {
                                        "description": "Output only. Next time when data transfer will run.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    },
                                    "params": {
                                        "additionalProperties": {
                                            "description": "Properties of the object."
                                        },
                                        "description": "Data transfer specific parameters.",
                                        "type": "object"
                                    },
                                    "schedule": {
                                        "description": "Data transfer schedule.\nIf the data source does not support a custom schedule, this should be\nempty. If it is empty, the default value for the data source will be\nused.\nThe specified times are in UTC.\nExamples of valid format:\n`1st,3rd monday of month 15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.\nSee more explanation about the format here:\nhttps://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format\nNOTE: the granularity should be at least 8 hours, or less frequent.",
                                        "type": "string"
                                    },
                                    "scheduleOptions": {
                                        "description": "Options customizing the data transfer schedule.",
                                        "properties": {
                                            "disableAutoScheduling": {
                                                "description": "If true, automatic scheduling of data transfer runs for this configuration\nwill be disabled. The runs can be started on ad-hoc basis using\nStartManualTransferRuns API. When automatic scheduling is disabled, the\nTransferConfig.schedule field will be ignored.",
                                                "type": "boolean"
                                            },
                                            "endTime": {
                                                "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be\nscheduled at or after the end time. The end time can be changed at any\nmoment. The time when a data transfer can be trigerred manually is not\nlimited by this option.",
                                                "format": "google-datetime",
                                                "type": "string"
                                            },
                                            "startTime": {
                                                "description": "Specifies time to start scheduling transfer runs. The first run will be\nscheduled at or after the start time according to a recurrence pattern\ndefined in the schedule string. The start time can be changed at any\nmoment. The time when a data transfer can be trigerred manually is not\nlimited by this option.",
                                                "format": "google-datetime",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "state": {
                                        "description": "Output only. State of the most recently updated transfer run.",
                                        "enum": [
                                            "TRANSFER_STATE_UNSPECIFIED",
                                            "PENDING",
                                            "RUNNING",
                                            "SUCCEEDED",
                                            "FAILED",
                                            "CANCELLED"
                                        ],
                                        "type": "string"
                                    },
                                    "updateTime": {
                                        "description": "Output only. Data transfer modification time. Ignored by server on input.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    },
                                    "userId": {
                                        "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
                                        "format": "int64",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{name}/locations": {
            "get": {
                "description": "Lists information about the supported locations for this service.",
                "operationId": "bigquerydatatransfer.projects.locations.list",
                "parameters": [
                    {
                        "description": "The standard list filter.",
                        "in": "query",
                        "name": "filter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource that owns the locations collection, if applicable.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The standard list page size.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The standard list page token.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The response message for Locations.ListLocations.",
                                    "properties": {
                                        "locations": {
                                            "description": "A list of locations that matches the specified filter in the request.",
                                            "items": {
                                                "description": "A resource that represents Google Cloud Platform location.",
                                                "properties": {
                                                    "displayName": {
                                                        "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                                                        "type": "string"
                                                    },
                                                    "labels": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                                        "type": "object"
                                                    },
                                                    "locationId": {
                                                        "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                                                        "type": "string"
                                                    },
                                                    "metadata": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "The standard List next-page token.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{name}:checkValidCreds": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns true if valid credentials exist for the given data source and\nrequesting user.\nSome data sources doesn't support service account, so we need to talk to\nthem on behalf of the end user. This API just checks whether we have OAuth\ntoken for the particular user, which is a pre-requisite before user can\ncreate a transfer config.",
                "operationId": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
                "parameters": [
                    {
                        "description": "The data source in the form:\n`projects/{project_id}/dataSources/{data_source_id}`",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A response indicating whether the credentials exist and are valid.",
                                    "properties": {
                                        "hasValidCreds": {
                                            "description": "If set to `true`, the credentials exist and are valid.",
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A request to determine whether the user has valid credentials. This method\nis used to limit the number of OAuth popups in the user interface. The\nuser id is inferred from the API call context.\nIf the data source has the Google+ authorization type, this method\nreturns false, as it cannot be determined whether the credentials are\nalready valid merely based on the user id.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{parent}/dataSources": {
            "get": {
                "description": "Lists supported data sources and returns their settings,\nwhich can be used for UI rendering.",
                "operationId": "bigquerydatatransfer.projects.dataSources.list",
                "parameters": [
                    {
                        "description": "Page size. The default page size is the maximum value of 1000 results.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Pagination token, which can be used to request a specific page\nof `ListDataSourcesRequest` list results. For multiple-page\nresults, `ListDataSourcesResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The BigQuery project id for which data sources should be returned.\nMust be in the form: `projects/{project_id}`",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{parent}/runs": {
            "get": {
                "description": "Returns information about running and completed jobs.",
                "operationId": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                "parameters": [
                    {
                        "description": "Page size. The default page size is the maximum value of 1000 results.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Pagination token, which can be used to request a specific page\nof `ListTransferRunsRequest` list results. For multiple-page\nresults, `ListTransferRunsResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Name of transfer configuration for which transfer runs should be retrieved.\nFormat of transfer configuration resource name is:\n`projects/{project_id}/transferConfigs/{config_id}`.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Indicates how run attempts are to be pulled.",
                        "in": "query",
                        "name": "runAttempt",
                        "schema": {
                            "type": "string",
                            "items": {
                                "enum": [
                                    "TRANSFER_STATE_UNSPECIFIED",
                                    "PENDING",
                                    "RUNNING",
                                    "SUCCEEDED",
                                    "FAILED",
                                    "CANCELLED"
                                ],
                                "type": "string"
                            },
                            "enum": [
                                "RUN_ATTEMPT_UNSPECIFIED",
                                "LATEST"
                            ]
                        }
                    },
                    {
                        "description": "When specified, only transfer runs with requested states are returned.",
                        "in": "query",
                        "name": "states",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "enum": [
                                    "TRANSFER_STATE_UNSPECIFIED",
                                    "PENDING",
                                    "RUNNING",
                                    "SUCCEEDED",
                                    "FAILED",
                                    "CANCELLED"
                                ],
                                "type": "string"
                            },
                            "enum": [
                                "RUN_ATTEMPT_UNSPECIFIED",
                                "LATEST"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The returned list of pipelines in the project.",
                                    "properties": {
                                        "nextPageToken": {
                                            "description": "Output only. The next-pagination token. For multiple-page list results,\nthis token can be used as the\n`ListTransferRunsRequest.page_token`\nto request the next page of list results.",
                                            "type": "string"
                                        },
                                        "transferRuns": {
                                            "description": "Output only. The stored pipeline transfer runs.",
                                            "items": {
                                                "description": "Represents a data transfer run.",
                                                "properties": {
                                                    "dataSourceId": {
                                                        "description": "Output only. Data source id.",
                                                        "type": "string"
                                                    },
                                                    "destinationDatasetId": {
                                                        "description": "Output only. The BigQuery target dataset id.",
                                                        "type": "string"
                                                    },
                                                    "endTime": {
                                                        "description": "Output only. Time when transfer run ended.\nParameter ignored by server for input requests.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "errorStatus": {
                                                        "description": "Status of the transfer run.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "details": {
                                                                "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                                "items": {
                                                                    "additionalProperties": {
                                                                        "description": "Properties of the object. Contains field @type with type URL."
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "message": {
                                                                "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "The resource name of the transfer run.\nTransfer run names have the form\n`projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`.\nThe name is ignored when creating a transfer run.",
                                                        "type": "string"
                                                    },
                                                    "params": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object."
                                                        },
                                                        "description": "Output only. Data transfer specific parameters.",
                                                        "type": "object"
                                                    },
                                                    "runTime": {
                                                        "description": "For batch transfer runs, specifies the date and time that\ndata should be ingested.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "schedule": {
                                                        "description": "Output only. Describes the schedule of this transfer run if it was\ncreated as part of a regular schedule. For batch transfer runs that are\nscheduled manually, this is empty.\nNOTE: the system might choose to delay the schedule depending on the\ncurrent load, so `schedule_time` doesn't always match this.",
                                                        "type": "string"
                                                    },
                                                    "scheduleTime": {
                                                        "description": "Minimum time after which a transfer run can be started.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "startTime": {
                                                        "description": "Output only. Time when transfer run was started.\nParameter ignored by server for input requests.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "description": "Data transfer run state. Ignored for input requests.",
                                                        "enum": [
                                                            "TRANSFER_STATE_UNSPECIFIED",
                                                            "PENDING",
                                                            "RUNNING",
                                                            "SUCCEEDED",
                                                            "FAILED",
                                                            "CANCELLED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "updateTime": {
                                                        "description": "Output only. Last time the data transfer run state was updated.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "userId": {
                                                        "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
                                                        "format": "int64",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{parent}/transferConfigs": {
            "get": {
                "description": "Returns information about all data transfers in the project.",
                "operationId": "bigquerydatatransfer.projects.transferConfigs.list",
                "parameters": [
                    {
                        "description": "When specified, only configurations of requested data sources are returned.",
                        "in": "query",
                        "name": "dataSourceIds",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "description": "Page size. The default page size is the maximum value of 1000 results.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Pagination token, which can be used to request a specific page\nof `ListTransfersRequest` list results. For multiple-page\nresults, `ListTransfersResponse` outputs\na `next_page` token, which can be used as the\n`page_token` value to request the next page of list results.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The BigQuery project id for which data sources\nshould be returned: `projects/{project_id}`.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The returned list of pipelines in the project.",
                                    "properties": {
                                        "nextPageToken": {
                                            "description": "Output only. The next-pagination token. For multiple-page list results,\nthis token can be used as the\n`ListTransferConfigsRequest.page_token`\nto request the next page of list results.",
                                            "type": "string"
                                        },
                                        "transferConfigs": {
                                            "description": "Output only. The stored pipeline transfer configurations.",
                                            "items": {
                                                "description": "Represents a data transfer configuration. A transfer configuration\ncontains all metadata needed to perform a data transfer. For example,\n`destination_dataset_id` specifies where data should be stored.\nWhen a new transfer configuration is created, the specified\n`destination_dataset_id` is created when needed and shared with the\nappropriate data source service account.",
                                                "properties": {
                                                    "dataRefreshWindowDays": {
                                                        "description": "The number of days to look back to automatically refresh the data.\nFor example, if `data_refresh_window_days = 10`, then every day\nBigQuery reingests data for [today-10, today-1], rather than ingesting data\nfor just [today-1].\nOnly valid if the data source supports the feature. Set the value to  0\nto use the default value.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "dataSourceId": {
                                                        "description": "Data source id. Cannot be changed once data transfer is created.",
                                                        "type": "string"
                                                    },
                                                    "datasetRegion": {
                                                        "description": "Output only. Region in which BigQuery dataset is located.",
                                                        "type": "string"
                                                    },
                                                    "destinationDatasetId": {
                                                        "description": "The BigQuery target dataset id.",
                                                        "type": "string"
                                                    },
                                                    "disabled": {
                                                        "description": "Is this config disabled. When set to true, no runs are scheduled\nfor a given transfer.",
                                                        "type": "boolean"
                                                    },
                                                    "displayName": {
                                                        "description": "User specified display name for the data transfer.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "The resource name of the transfer config.\nTransfer config names have the form of\n`projects/{project_id}/locations/{region}/transferConfigs/{config_id}`.\nThe name is automatically generated based on the config_id specified in\nCreateTransferConfigRequest along with project_id and region. If config_id\nis not provided, usually a uuid, even though it is not guaranteed or\nrequired, will be generated for config_id.",
                                                        "type": "string"
                                                    },
                                                    "nextRunTime": {
                                                        "description": "Output only. Next time when data transfer will run.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "params": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object."
                                                        },
                                                        "description": "Data transfer specific parameters.",
                                                        "type": "object"
                                                    },
                                                    "schedule": {
                                                        "description": "Data transfer schedule.\nIf the data source does not support a custom schedule, this should be\nempty. If it is empty, the default value for the data source will be\nused.\nThe specified times are in UTC.\nExamples of valid format:\n`1st,3rd monday of month 15:30`,\n`every wed,fri of jan,jun 13:15`, and\n`first sunday of quarter 00:00`.\nSee more explanation about the format here:\nhttps://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format\nNOTE: the granularity should be at least 8 hours, or less frequent.",
                                                        "type": "string"
                                                    },
                                                    "scheduleOptions": {
                                                        "description": "Options customizing the data transfer schedule.",
                                                        "properties": {
                                                            "disableAutoScheduling": {
                                                                "description": "If true, automatic scheduling of data transfer runs for this configuration\nwill be disabled. The runs can be started on ad-hoc basis using\nStartManualTransferRuns API. When automatic scheduling is disabled, the\nTransferConfig.schedule field will be ignored.",
                                                                "type": "boolean"
                                                            },
                                                            "endTime": {
                                                                "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be\nscheduled at or after the end time. The end time can be changed at any\nmoment. The time when a data transfer can be trigerred manually is not\nlimited by this option.",
                                                                "format": "google-datetime",
                                                                "type": "string"
                                                            },
                                                            "startTime": {
                                                                "description": "Specifies time to start scheduling transfer runs. The first run will be\nscheduled at or after the start time according to a recurrence pattern\ndefined in the schedule string. The start time can be changed at any\nmoment. The time when a data transfer can be trigerred manually is not\nlimited by this option.",
                                                                "format": "google-datetime",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "state": {
                                                        "description": "Output only. State of the most recently updated transfer run.",
                                                        "enum": [
                                                            "TRANSFER_STATE_UNSPECIFIED",
                                                            "PENDING",
                                                            "RUNNING",
                                                            "SUCCEEDED",
                                                            "FAILED",
                                                            "CANCELLED"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "updateTime": {
                                                        "description": "Output only. Data transfer modification time. Ignored by server on input.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "userId": {
                                                        "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
                                                        "format": "int64",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/bigquery"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a new data transfer configuration.",
                "operationId": "bigquerydatatransfer.projects.transferConfigs.create",
                "parameters": [
                    {
                        "description": "Optional OAuth2 authorization code to use with this transfer configuration.\nThis is required if new credentials are needed, as indicated by\n`CheckValidCreds`.\nIn order to obtain authorization_code, please make a\nrequest to\nhttps://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=<datatransferapiclientid>&scope=<data_source_scopes>&redirect_uri=<redirect_uri>\n\n* client_id should be OAuth client_id of BigQuery DTS API for the given\n  data source returned by ListDataSources method.\n* data_source_scopes are the scopes returned by ListDataSources method.\n* redirect_uri is an optional parameter. If not specified, then\n  authorization code is posted to the opener of authorization flow window.\n  Otherwise it will be sent to the redirect uri. A special value of\n  urn:ietf:wg:oauth:2.0:oob means that authorization code should be\n  returned in the title bar of the browser, with the page text prompting\n  the user to copy the code and paste it in the application.",
                        "in": "query",
                        "name": "authorizationCode",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The BigQuery project id where the transfer configuration should be created.\nMust be in the format projects/{project_id}/locations/{location_id}\nIf specified location and location of the destination bigquery dataset\ndo not match - the request will fail.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Optional version info. If users want to find a very recent access token,\nthat is, immediately after approving access, users have to set the\nversion_info claim in the token request. To obtain the version_info, users\nmust use the “none+gsession” response type. which be return a\nversion_info back in the authorization response which be be put in a JWT\nclaim in the token request.",
                        "in": "query",
                        "name": "versionInfo",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "Represents a data transfer configuration. A transfer configuration\ncontains all metadata needed to perform a data transfer. For example,\n`destination_dataset_id` specifies where data should be stored.\nWhen a new transfer configuration is created, the specified\n`destination_dataset_id` is created when needed and shared with the\nappropriate data source service account.",
                                    "properties": {
                                        "dataRefreshWindowDays": {
[...]
